.header {
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 1;
  color: $black;
  padding: 10px 0;
}

.header__logo {
  width: 30%;
  text-align: left;
  img {
    display: block;
    width: 85px;
    height: auto;
  }
}

.header__address {
  width: 40%;
  margin: 0;
  text-align: center;
}

.header__phone {
  width: 30%;
  text-decoration: none;
  color: inherit;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.header__phone--mobile {
    display: none;
  }
  svg {
    margin-right: 12px;
  }
}

@media #{$t} {
  .header {
    font-size: 20px;
    &--main {
      padding: 5px 0;
    }
  }
}

@media #{$s} {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 5px 10px;
    font-size: 14px;
    background: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .header__logo {
    width: 40px;
    height: 40px;
    img {
      width: auto;
    }
  }

  .header__address {
    width: auto;
    margin: 0 auto;
  }

  .header__phone {
    display: none;
    width: auto;
    justify-content: center;
    &.header__phone--mobile {
      display: flex;
      color: #3fbcdf;
      line-height: 1.7;
    }
    svg {
      display: none;
      margin-right: 12px;
    }
  }
}
